<section class="banner">
  <div class="custom-container">
    <div class="grid md:grid-cols-3 gap-8 mb-[70px]">
      <div class="banner-content">
        <h2 class="banner-content-title">Hi, I am Vương, <br>
          Cao Đẳng FPT
        </h2>
        <p class="banner-content-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
          amet
          sint.
          Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <a class="banner-content-button" href="../../../assets/IMG_4879.jpg" download="cv_phong_van.jpg">Download
          CV</a>
      </div>
      <div class="banner-image">
        <img class="banner-image-thumbnail" src="https://picsum.photos/246/246" alt="">
      </div>
    </div>
  </div>
</section>
<!-- Recent posts -->
<section class="recent-posts">
  <div class="custom-container">
    <div class="flex justify-between items-center">
      <p class="text-[22px] leading-[60px] ">Recent posts</p>
      <a class="text-[16px] leading-[23.5px] text-blue-400 " href="">View all</a>
    </div>


    <div class="grid md:grid-cols-2 gap-[22px] ">
      <div class="bg-white p-[12px]">
        <h3 class="font-bold text-[26px] pb-[17px]">Making a design system from scratch</h3>
        <div class="flex mb-[11px]">
          <span class="pr-[20px] text-[18px] ">12 Feb 2020</span>
          <span>|</span>
          <span class=" text-[18px]  pl-[20px]">Design,Pattern</span>
        </div>
        <p class="text-[16px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div class="bg-white p-[12px]">
        <h3 class="font-bold text-[26px] pb-[17px]">Making a design system from scratch</h3>
        <div class="flex mb-[11px]">
          <span class="pr-[20px] text-[18px] ">12 Feb 2020</span>
          <span>|</span>
          <span class=" text-[18px]  pl-[20px]">Design,Pattern</span>
        </div>
        <p class="text-[16px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
    </div>
  </div>
</section>
<!-- Features works -->
<section class="feature-works">
  <div class="custom-container">
    <div class="text-center md:text-left">
      <h2 class="text-[22px] pt-[15px] pb-[22px] leading-[60px]">Featured works</h2>
    </div>
    <div *ngFor=" let product of products, let i=index">
      <a routerLink="detailProduct/{{product.id}}">
        <div class="md:flex gap-[17px]">
          <div class="basis-[24%]"><img class="w-full md:w-full md:h-[180px]" [src]="product.img" alt="">
          </div>
          <div class="basis-[76%]">
            <h3 class="text-[30px] py-[17px] font-bold">{{product.name}}</h3>
            <div class="flex gap-[26px] mb-[17px]">
              <span
                class="text-[18px] w-[62px] h-[25px] text-center text-white rounded-xl font-black	 bg-blue-900">2020</span>
              <span class="text-[20px]">Dashboard</span>
            </div>
            <p class="text-[16px]">{{product.price}}</p>
          </div>
        </div>
      </a>
      <hr class="my-[30px]">
      <!-- <div class="md:flex gap-[17px]">
        <div class="basis-[24%]"><img class="w-full md:w-full md:h-[180px]" src="image/Rectangle 30.jpg" alt=""></div>
        <div class="basis-[76%]">
          <h3 class="text-[30px] py-[17px] font-bold">Designing Dashboards</h3>
          <div class="flex gap-[26px] mb-[17px]">
            <span
              class="text-[18px] w-[62px] h-[25px] text-center text-white rounded-xl font-black	 bg-blue-900">2020</span>
            <span class="text-[20px]">Dashboard</span>
          </div>

          <p class="text-[16px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
      </div>
      <hr class="my-[30px]"> -->
      <!-- <div class="md:flex gap-[17px]">
        <div class="basis-[24%]"><img class="w-full md:w-full md:h-[180px]" src="image/Rectangle 30.jpg" alt=""></div>
        <div class="basis-[76%] mt-5">
          <h3 class="text-[30px] font-bold">Designing Dashboards</h3>
          <div class="flex gap-[26px] mb-[17px]">
            <span
              class="text-[18px] w-[62px] h-[25px] text-center text-white rounded-xl font-black	 bg-blue-900">2020</span>
            <span class="text-[20px]">Dashboard</span>
          </div>

          <p class="text-[16px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
      </div> -->
    </div>
  </div>
</section>