<section>
  <div class="custom-container">
    <div class="section-heading">
      <h2 class="text-[30px] font-bold md:text-[44px] leading-[60px] md:pb-[55px] pb-[18px]">Blog</h2>
    </div>
    <div class="blog-content">
      <div>
        <h3 class="font-bold text-[26px] pb-[17px]">Making a design system from scratch</h3>
        <div class="flex mb-[11px]">
          <span class="pr-[20px] text-[18px] ">12 Feb 2020</span>
          <span>|</span>
          <span class=" text-[18px]  pl-[20px]">Design,Pattern</span>
        </div>
        <p class="text-[16px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <hr class="my-[30px]">
      <div>
        <h3 class="font-bold text-[26px] pb-[17px]">Making a design system from scratch</h3>
        <div class="flex mb-[11px]">
          <span class="pr-[20px] text-[18px] ">12 Feb 2020</span>
          <span>|</span>
          <span class=" text-[18px]  pl-[20px]">Design,Pattern</span>
        </div>
        <p class="text-[16px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <hr class="my-[30px]">
      <div>
        <h3 class="font-bold text-[26px] pb-[17px]">Making a design system from scratch</h3>
        <div class="flex mb-[11px]">
          <span class="pr-[20px] text-[18px] ">12 Feb 2020</span>
          <span>|</span>
          <span class=" text-[18px]  pl-[20px]">Design,Pattern</span>
        </div>
        <p class="text-[16px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <hr class="my-[30px]">
      <div>
        <h3 class="font-bold text-[26px] pb-[17px]">Making a design system from scratch</h3>
        <div class="flex mb-[11px]">
          <span class="pr-[20px] text-[18px] ">12 Feb 2020</span>
          <span>|</span>
          <span class=" text-[18px]  pl-[20px]">Design,Pattern</span>
        </div>
        <p class="text-[16px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <hr class="my-[30px]">
    </div>
  </div>
</section>